<template lang='pug'>
.page-container
  .page-layout
    .left-sidebar: .h-24
    .article-content: .h-24
    .article-content: .h-24
    .related-content: .h-24
    .related-content: .h-24
    .social-links.h-8
</template>

<style lang="sass" scoped>
$breakpoints: ('xs': 0, 'sm': 600px, 'md': 960px, 'lg': 1280px - 16px, 'xl': 1800px - 16px)

.page-container
  min-height: 100vh
  display: grid
  place-items: center
  @apply bg-emerald-400 p-8

  @media (min-width: map-get($breakpoints, 'sm'))
    @apply p-16

.page-layout
  width: 100%
  display: grid
  grid-auto-flow: row dense
  grid-gap: 1rem
  grid-template-columns: 1fr

  @media (min-width: map-get($breakpoints, 'sm'))
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: map-get($breakpoints, 'md'))
    grid-template-columns: repeat(3, 1fr)
  @media (min-width: map-get($breakpoints, 'lg'))
    grid-template-columns: repeat(5, 1fr)
  @media (min-width: map-get($breakpoints, 'xl'))
    grid-template-columns: repeat(6, 1fr)

  > div
    @apply rounded-lg shadow-xl

.left-sidebar
  @apply bg-amber-300
  grid-column: 1 / -1
  @media (min-width: map-get($breakpoints, 'md'))
    grid-column: 1
    grid-row: span 2

.article-content
  @apply bg-white
  @media (min-width: map-get($breakpoints, 'md'))
    grid-column: 2 / span 2
  @media (min-width: map-get($breakpoints, 'lg'))
    grid-column: 2 / span 3

.related-content
  @apply bg-indigo-300
  @media (min-width: map-get($breakpoints, 'md'))
    grid-column: 2 / span 2
  @media (min-width: map-get($breakpoints, 'lg'))
    grid-column: 5 / span 1

.social-links
  @apply bg-rose-300
  @media (min-width: map-get($breakpoints, 'md'))
    grid-column: 2
  @media (min-width: map-get($breakpoints, 'lg'))
    grid-column: 5
  @media (min-width: map-get($breakpoints, 'xl'))
    grid-column: 6
</style>