<template>
  <div class="min-h-screen flex items-center bg-emerald-400">
    <div class="flex-1 max-w-full mx-auto p-8 sm:p-16">
      <div class="grid grid-cols-1 gap-4 grid-flow-row-dense sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 2xl:grid-cols-6">
        <div class="bg-amber-300 rounded-lg shadow-xl col-span-full lg:col-span-1 lg:row-span-2"><div class="h-24"></div></div>
        <div class="bg-white rounded-lg shadow-xl lg:col-start-2 lg:col-span-2 xl:col-span-3"><div class="h-24"></div></div>
        <div class="bg-white rounded-lg shadow-xl lg:col-start-2 lg:col-span-2 xl:col-span-3"><div class="h-24"></div></div>
        <div class="bg-indigo-300 rounded-lg shadow-xl lg:col-start-2 lg:col-span-2 xl:col-start-5 xl:col-span-1"><div class="h-24"></div></div>
        <div class="bg-indigo-300 rounded-lg shadow-xl lg:col-start-2 lg:col-span-2 xl:col-start-5 xl:col-span-1"><div class="h-24"></div></div>
        <div class="bg-rose-300 h-8 rounded-lg shadow-xl lg:col-start-2 xl:col-start-5 2xl:col-start-6"></div>
      </div>
    </div>
  </div>
</template>